*.mainBox {
    
    padding: 40px;
    margin: 20px;
    gap: 80px;
    background: linear-gradient(to bottom right, rgb(142, 252, 53), 
    rgb(142, 255, 142));
    justify-content: center;
    align-items: center;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;

}

h2 {
    font-family: "Jacquard 12", system-ui;
    color: rgb(201, 0, 201);
}

.prova {
    text-align: center;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom right, rgb(152, 73, 255), 
    rgba(7, 126, 7, 0.397));
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr ;
    padding: 40px;
    width: 80%;
    height: 90%;
    border-radius: 4px ;
    transition: 2s;
    font-family: serif;
}

.prova:hover{
    transition: 2s;
    background: linear-gradient(to bottom right,rgb(255, 80, 16), 
    rgba(227, 12, 255, 0.397));
    scale: 120%;
    box-shadow: 0px 0px 100px rgb(61, 222, 61);
}

.prova:hover h2{
    transition: 2s;
    color: rgb(0, 0, 0);
    text-decoration: underline blueviolet;
}

.reactions {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0;
    height: 10px;
}

.reac {
    margin: 0;
    padding: auto;
    height: 10px;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-right: 20px;
    
}

