
  


.navXL {
    display: flex;
    
    flex: 0.25;
    flex-direction: row;
    background: linear-gradient(to  right, orangered, 
    rgb(255, 0, 157));
    min-width: 100vh;
    min-height: 80px;
    max-height: auto;
    color: rgb(118, 0, 122);
    font-family: "Major Mono Display", monospace;
    font-size: 200%;
    flex-wrap: wrap;
    z-index: 500;
    padding: 0px;
    
}

.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
    
}
@media screen and (max-width: 600px) {
    .navXL {
     display: flex;
     flex-direction: column;
     justify-content: start;
      
      
    }
  }














