
  


.navXL {
    display: flex;
    position: sticky;
    top: 0;
    flex: 0.25;
    flex-direction: row;
    background: linear-gradient(to  right, orangered, 
    rgb(255, 0, 157));
    min-width: 100vh;
    min-height: 80px;
    max-height: auto;
    color: rgb(118, 0, 122);
    font-family: "Major Mono Display", monospace;
    font-size: 200%;
    flex-wrap: wrap;
    z-index: 500;
    padding: 0px;
    
}

.nav {
    display: flex;
    flex: 1;
    justify-content: space-between;
    align-items: center;
    
}

.add{
    display: flex;
    
}

.navXS{
    color: aliceblue;
    background: linear-gradient(to bottom right, rgb(111, 2, 255), 
    rgb(13, 41, 0));
    padding: 20px;
    border-radius: 2px;
    z-index: 1000;
    margin: 0;
   
}